[package]
name = "aqueducts"
authors.workspace = true
edition.workspace = true
description.workspace = true
repository.workspace = true
readme.workspace = true
version.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true
license-file.workspace = true

[features]
default = ["yaml"]
s3 = ["aqueducts-utils/s3"]
gcs = ["aqueducts-utils/gcs"]
azure = ["aqueducts-utils/azure"]
odbc = ["aqueducts-odbc"]
schema_gen = ["schemars"]
json = ["dep:serde_json"]
yaml = ["dep:serde_yml"]
toml = ["dep:toml"]

[dependencies]
datafusion.workspace = true
deltalake.workspace = true

serde.workspace = true
serde_json.workspace = true
serde_json.optional = true
serde_yml.workspace = true
serde_yml.optional = true
toml.workspace = true
toml.optional = true
schemars = { workspace = true, optional = true }

tokio.workspace = true
thiserror.workspace = true
tracing.workspace = true
url.workspace = true
regex.workspace = true
derive-new.workspace = true
chrono.workspace = true

aqueducts-odbc = { workspace = true, optional = true }
aqueducts-utils.workspace = true

[dev-dependencies]
tokio = { workspace = true, features = ["full"] }
rand = "0.8"
tracing-test = "0.2"
