[package]
name = "aqueducts-cli"
authors = ["<vigimite@protonmail.com>"]
edition = "2021"
description = "CLI application to run pipelines defined for the aqueducts framework"
homepage = "https://github.com/vigimite/aqueducts"
repository = "https://github.com/vigimite/aqueducts/aqueducts-cli"
readme = "README.md"
version = "0.6.2"
keywords = ["aqueducts", "ETL", "data", "pipeline", "cli"]
categories = ["command-line-utilities"]
license-file = "../LICENSE"

[features]
default = ["s3", "gcs", "azure"]
s3 = ["aqueducts/s3"]
gcs = ["aqueducts/gcs"]
azure = ["aqueducts/azure"]
odbc = ["aqueducts/odbc"]

[dependencies]
datafusion.workspace = true

aqueducts = { path = "../aqueducts/core", version = "0.6.2" }
datafusion-functions-json = "0.42"
clap = { version = "4.5.18", features = ["derive"] }
env_logger = "0.11.3"
log = "0.4.21"
tokio = { workspace = true, features = ["full"] }

[[bin]]
name = "aqueducts"
path = "src/main.rs"
