[workspace]
exclude = ["aqueducts-cli"]
members = [
  "aqueducts/core",
  "aqueducts/utils",
  "aqueducts/schema_gen",
]
resolver = "2"

[workspace.package]
authors = ["<michelevig@protonmail.com>"]
edition = "2021"
description = "Framework to build ETL data pipelines declaratively"
homepage = "https://github.com/vigimite/aqueducts"
repository = "https://github.com/vigimite/aqueducts"
readme = "README.md"
version = "0.2.3"
keywords = ["aqueducts", "ETL", "data", "pipeline"]
categories = ["api-bindings"]
license-file = "LICENSE"

[workspace.dependencies]
aqueducts = { path = "aqueducts/core", version = "0.2.2" }
aqueducts-utils = { path = "aqueducts/utils", version = "0.2.2" }

datafusion = "37"
object_store = "0.9"
deltalake = { version = "0.17.3", features = ["datafusion"] }

serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yml = "0.0.10"
schemars = { version = "0.8", features = ["chrono", "url", "preserve_order"] }

tracing = "0.1"
thiserror = "1"
regex = "1"
derive-new = "0.6"
url = { version = "2", features = ["serde"] }
chrono = { version = "0.4", features = ["serde"] }

[profile.dev]
debug = 0
