[workspace]
members = [
  "aqueducts/core",
  "aqueducts/odbc",
  "aqueducts/utils",
  "aqueducts/schema_gen",
  "aqueducts-cli"
]
resolver = "2"

[workspace.package]
authors = ["<vigimite@protonmail.com>"]
edition = "2021"
description = "Framework to build ETL data pipelines declaratively"
homepage = "https://github.com/vigimite/aqueducts"
repository = "https://github.com/vigimite/aqueducts"
readme = "README.md"
version = "0.9.0"
keywords = ["aqueducts", "ETL", "data", "pipeline"]
categories = ["api-bindings"]
license-file = "LICENSE"

[workspace.dependencies]
aqueducts = { path = "aqueducts/core", version = "0.9.0" }
aqueducts-odbc = { path = "aqueducts/odbc", version = "0.9.0" }
aqueducts-utils = { path = "aqueducts/utils", version = "0.9.0" }

datafusion = "46"
deltalake = { version = "0.25.0", features = ["datafusion"] }

serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yml = "0.0.10"
toml = "0.8"
schemars = { version = "0.8", features = ["chrono", "url", "preserve_order"] }

tokio = { version = "1", features = ["rt"] }
tracing = "0.1"
thiserror = "2"
regex = "1"
derive-new = "0.7"
url = { version = "2", features = ["serde"] }
chrono = { version = "0.4", features = ["serde"] }
