stages = [
  [
    { name = "jan_aggregated", query = """
      SELECT
        cast(timestamp as date) date,
        location_id,
        round(min(temperature_c),2) min_temp_c,
        round(min(humidity),2) min_humidity,
        round(max(temperature_c),2) max_temp_c,
        round(max(humidity),2) max_humidity,
        round(avg(temperature_c),2) avg_temp_c,
        round(avg(humidity),2) avg_humidity
      FROM jan_data GROUP by 1,2 ORDER by 1 asc
    """, show = 20 },
    { name = "feb_aggregated", query = """
      SELECT
        cast(timestamp as date) date,
        location_id,
        round(min(temperature_c),2) min_temp_c,
        round(min(humidity),2) min_humidity,
        round(max(temperature_c),2) max_temp_c,
        round(max(humidity),2) max_humidity,
        round(avg(temperature_c),2) avg_temp_c,
        round(avg(humidity),2) avg_humidity
      FROM feb_data GROUP by 1,2 ORDER by 1 asc
  """, show = 0 },
  ],
  [
    { name = "union", query = "SELECT * FROM jan_aggregated UNION (SELECT * FROM feb_aggregated)", print_schema = true },
  ],
]

[[sources]]
type = "File"
name = "jan_data"
location = "${local_path}/examples/temp_readings_jan_2024.csv"
[sources.file_type]
type = "Csv"
[sources.file_type.options]
has_header = true
delimiter = ","

[[sources]]
type = "File"
name = "feb_data"
location = "${local_path}/examples/temp_readings_feb_2024.csv"
[sources.file_type]
type = "Csv"
[sources.file_type.options]
has_header = true
delimiter = ","

[destination]
type = "Delta"
name = "example_output"
location = "${local_path}/examples/output_delta_example/${run_id}"
storage_options = {}
table_properties = {}
partition_cols = ["date"]

[destination.write_mode]
operation = "Upsert"
params = ["date"]
[[destination.schema]]
name = "date"
type = "date"
nullable = true
metadata = {}
[[destination.schema]]
name = "location_id"
type = "integer"
nullable = true
metadata = {}
[[destination.schema]]
name = "min_temp_c"
type = "double"
nullable = true
metadata = {}
[[destination.schema]]
name = "min_humidity"
type = "double"
nullable = true
metadata = {}
[[destination.schema]]
name = "max_temp_c"
type = "double"
nullable = true
metadata = {}
[[destination.schema]]
name = "max_humidity"
type = "double"
nullable = true
metadata = {}
[[destination.schema]]
name = "avg_temp_c"
type = "double"
nullable = true
metadata = {}
[[destination.schema]]
name = "avg_humidity"
type = "double"
nullable = true
metadata = {}
