[data-md-color-scheme="default"] {
  --md-primary-fg-color: #111F2C;
  --md-primary-fg-color--light: #111F2C;
  --md-primary-fg-color--dark: #111F2C;
  --md-footer-bg-color--light: #111F2C;
  --md-footer-bg-color--dark: #111F2C;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #3B444B;
  --md-primary-fg-color--light: #3B444B;
  --md-primary-fg-color--dark: #3B444B;
  --md-footer-bg-color--light: #3B444B;
  --md-footer-bg-color--dark: #3B444B;
}