[package]
name = "aqueducts-utils"
authors.workspace = true
edition.workspace = true
description.workspace = true
repository.workspace = true
readme.workspace = true
version.workspace = true
homepage.workspace = true
keywords.workspace = true
categories.workspace = true
license-file.workspace = true

[features]
default = []
s3 = ["dep:deltalake-aws"]
gcs = ["dep:deltalake-gcp"]
azure = ["dep:deltalake-azure"]
odbc = ["dep:arrow-odbc"]

[dependencies]
datafusion.workspace = true
deltalake.workspace = true
url.workspace = true
serde.workspace = true
thiserror.workspace = true

deltalake-aws = { version = "0.1", optional = true }
deltalake-gcp = { version = "0.2", optional = true }
deltalake-azure = { version = "0.1", optional = true }
arrow-odbc = { version = "11.0.0", optional = true }
object_store = "0.10"
tracing = "0.1"

[dev-dependencies]
tokio = { version = "1", features = ["full"] }
tracing-test = "0.2"
